body {
  background-color: lavender;
  font-family: Arial, sans-serif;
}

.search-bar-container {
  background-image: url('../images/Herbs\ and\ spices\ over\ black.jpeg'); /* Add background image */
  background-size: cover; 
  padding: 80px; 
  margin-bottom: 40px;
}

.recipe-container {
  margin-top: 80px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 12px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.card-text {
  font-size: 14px;
  color: #666;
}

.btn-primary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-primary:hover {
  background-color: #495057;
  border-color: #495057;
}

@media (max-width: 767px) {
  .card {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }

  .card-img-top {
    max-height: 150px;
  }

  .card-body {
    padding: 8px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-text {
    font-size: 12px;
  }
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #9411d1;
  width: 50px;
  height: 50px;
  animation: spin 5s linear infinite;
  display: none; /* Initially hidden */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
